@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-slide {
  display: flex;
  flex-wrap: nowrap;
}

.blog-post {
  position: relative;
  flex: 0 0 auto;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.current-slide {
  transform: translateX(0%);
}

.next-slide {
  transform: translateX(-100%);
}
